
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
mono_crash*

# Blender-specific ignores
*.blend?

# Scons-specific ignores
*.sconsign.dblite

# Other igonres
.vscode/include/*
.*.swp
.dot
.venv
