[submodule "engine"]
	path = thirdparty/godot
	url = https://github.com/lihop/godot
[submodule "thirdparty/godothreadpool"]
	path = thirdparty/godothreadpool
	url = https://github.com/lihop/godothreadpool
[submodule "thirdparty/godotdetour"]
	path = thirdparty/godotdetour
	url = https://github.com/lihop/godotdetour
[submodule "thirdparty/qodot-plugin"]
	path = thirdparty/qodot-plugin
	url = https://github.com/lihop/qodot-plugin
[submodule "thirdparty/Gut"]
	path = thirdparty/Gut
	url = https://github.com/lihop/Gut
[submodule "thirdparty/gs-logger"]
	path = thirdparty/gs-logger
	url = https://github.com/lihop/gs-logger
[submodule "thirdparty/godot-logger"]
	path = thirdparty/godot-logger
	url = https://github.com/lihop/godot-logger
[submodule "thirdparty/gd-YAFSM"]
	path = thirdparty/gd-YAFSM
	url = https://github.com/imjp94/gd-YAFSM
[submodule "nixpkgs"]
	path = thirdparty/nixpkgs
	url = https://github.com/lihop/nixpkgs
[submodule "thirdparty/godot-networked-instancing-example"]
	path = thirdparty/godot-networked-instancing-example
	url = https://github.com/lihop/godot-networked-instancing-example
[submodule "thirdparty/systemd-digitalocean"]
	path = thirdparty/systemd-digitalocean
	url = https://github.com/lihop/systemd-digitalocean
[submodule "thirdparty/godot-credits"]
	path = thirdparty/godot-credits
	url = https://github.com/lihop/godot-credits
[submodule "thirdparty/godot-xterm"]
	path = thirdparty/godot-xterm
	url = https://github.com/lihop/godot-xterm
[submodule "thirdparty/WAT-Mono"]
	path = thirdparty/WAT-Mono
	url = https://github.com/AlexDarigan/WAT-Mono
