[submodule "decalco"]
	path = decalco
	url = https://github.com/Master-J/DecalCo
[submodule "addons/raygui-godot-theme"]
	path = addons/raygui-godot-theme
	url = https://github.com/lihop/raygui-godot-theme.git
[submodule "addons/godot-skybox-shader"]
	path = addons/godot-skybox-shader
	url = https://github.com/JohanAR/godot-skybox-shader.git
[submodule "native/godot-cpp"]
	path = native/godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp
	branch = 3.2
